<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/styles.css">
<div class="form" id="form-information-new">
  <h1 class="">Texte Bearbeiten</h1>
  <div class="col-6 offset-3">
    <form action="/securities/<%=security._id%>?_method=PUT" method="post">
      <div class="mb-3">
        <label class="form-label" for="title">Titel</label>
        <input class="form-control" type="text" id="title" name="security[title]" value="<%=security.title%>" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Titel Unterschrift</label>
        <textarea class="form-control" type="text" id="description" name="security[description]" required><%=security.description%></textarea>
        <script>
          CKEDITOR.replace('description');
        </script>
      </div>
      <div class="mb-3">
        <label class="form-label" for="textone">Text 1</label>
        <textarea class="form-control" type="text" id="textone" name="security[textone]" required><%=security.textone%></textarea>
        <script>
          CKEDITOR.replace('textone');
        </script>
      </div>
      <div class="mb-3">
        <label class="form-label" for="texttwo">Text 2</label>
        <textarea class="form-control" type="text" id="texttwo" name="security[texttwo]" required><%=security.texttwo%></textarea>
        <script>
          CKEDITOR.replace('texttwo');
        </script>
      </div>
      <div class="mb-3">
        <button class="btn btn-primary">Speichern</button>
      </div>
    </form>
    <a class="btn btn-primary" href="/it-security">Zurück</a>
  </div>
</div>
